@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", serif;
  background-color: #eee;
  font-size: 20px;
  letter-spacing: 1px;
  color: rgb(53, 53, 53);
  box-sizing: border-box;
}

.container {
  max-width: 950px;
  margin: auto;
  padding-top: 30px;
  box-sizing: border-box;
}

.stack-technology {
  background-color: #d6dcff;
  padding: 2px 0 2px 15px;
  margin: 0 20px;
  border-radius: 30px;
  color: rgb(41, 56, 70);
  transition: transform 0.3s ease;
  overflow: hidden;
  margin-bottom: 40px;
}

.stack-technology:hover {
  transform: scale(1.03);
}

.stack-technology h2,
.stack-technology h3 {
  margin: 10px 0;
}

.stack-technology ul {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  list-style: none;
}

.stack-technology ul li {
  margin: 0;
  padding: 0 0 10px 10px;
}

.stack-technology ul li:hover {
  background-color: #c1c9fa;
  border-radius: 10px;
}

.stack-technology ul li:last-child {
  padding-bottom: 0;
}

.info-text p {
  color: #444444;
  padding-left: 5px;
}

.avatar {
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.514);
  border-radius: 15px;
  max-width: 350px;
  max-height: 400px;
  margin: auto;
  transition: transform 0.3s ease;
}

.avatar:hover {
  transform: scale(1.02);
}

a {
  text-decoration: none;
  color: rgb(102, 100, 100);
  transition: all 0.3s;
}

a.tg-link {
  background: url(./imgs/tg.png) no-repeat center left;
  padding-left: 24px;
  background-size: 22px 22px;
  height: 30px;
}

a.inst-link {
  background: url(./imgs/inst.png) no-repeat center left;
  padding-left: 26px;
  background-size: 22px 22px;
  height: 30px;
}

a.vk-link {
  background: url(./imgs/vk.png) no-repeat center left;
  padding-left: 26px;
  background-size: 22px 22px;
  height: 30px;
}

a.portfolio-link {
  background: url(./imgs/portfolio.png) no-repeat center right;
  padding-right: 32px;
  background-size: 32px 32px;
  display: flex;
  align-items: center;
  height: 30px;
}

a.tg-link:hover {
  color: #0c81af;
}

a.inst-link:hover {
  color: #bd2c9d;
}

a.vk-link:hover {
  color: #000dc7;
}

a.portfolio-link:hover {
  color: #c97902;
}

button {
  font-family: inherit;
  letter-spacing: 1px;
  font-size: 30px;
  cursor: pointer;
}

.my-info {
  display: flex;
  font-size: 19px;
  margin-bottom: 40px;
}

.info-text h1,
.info-text p {
  margin: 10px;
  margin-left: 25px;
}

.info-text h1 {
  text-align: center;
  margin-bottom: 40px;
}

.info-text p {
  margin-bottom: 20px;
  padding-right: 10px;
  text-align: justify;
}

.info-text p:hover {
  box-shadow: 1px 0 0 0 #292727;
}

.my-portfolio {
  display: flex;
  justify-content: center;
}

.info-text .last-element {
  margin-bottom: 5px;
}

.social-network {
  text-align: center;
  margin-bottom: 40px;
}

.social-network h2 {
  margin-bottom: 10px;
}

.contact-me {
  padding: 10px;
  margin-bottom: 40px;
}

.contact-me form {
  display: flex;
  border-top: 1px solid black;
  padding: 15px;
  align-items: center;

  justify-content: space-between;
}

.contact-me form .your-contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.contact-me form .your-contact-info input {
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid rgb(116, 116, 116);
  background-color: #eee;
}

.contact-me form .your-message textarea {
  width: 250px;
  height: 100px;
  resize: none;
  font-size: 18px;
  margin-top: -19px;
  border-radius: 5px;
  border: 1px solid rgb(116, 116, 116);
  background-color: #eee;
}

.contact-me form .your-message textarea {
  width: 250px;
  height: 100px;
  resize: none;
  font-size: 18px;
  margin-top: 0px;
  border-radius: 5px;
  border: 1px solid rgb(116, 116, 116);
  background-color: #eee;
}
.contact-me form .your-message textarea::-webkit-scrollbar {
  width: 8px;
}

.contact-me form .your-message textarea::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.contact-me form .your-message textarea::-webkit-scrollbar-thumb:hover {
  background: #0d0d0e;
}

.contact-me form .your-message textarea::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

.contact-me button {
  padding: 10px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(235, 235, 235);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-more-info {
  border: none;
  background: none;
  font-size: 20px;
  font-family: inherit;
  color: rgb(41, 56, 70);
}
.contact-me button:hover {
  background-color: rgb(187, 187, 187);
  color: black;
}
/* 686 */

@media (max-width: 686px) {
  .my-info {
    display: flex;
    flex-direction: column;
  }
  .avatar {
    max-width: 250px;
  }
  body {
    font-size: 17px;
  }
  .info-text p {
    font-size: 17px;
  }
  .my-portfolio {
    font-size: 17px;
  }
  .info-text .last-element {
    margin-bottom: 20px;
  }
  .contact-me form {
    display: flex;
    flex-direction: column;
  }
  .contact-me form .your-contact-info input {
    padding: 5px;
  }
  .contact-me form .your-contact-info {
    gap: 15px;
    margin-bottom: 15px;
  }
  .contact-me form .your-message {
    margin-bottom: 15px;
  }
  .contact-me form .your-message textarea {
    font-size: 17px;
  }
  .contact-me form .btn {
    font-size: 17px;
  }
  .stack-technology h2 {
    font-size: 22px;
  }
  .stack-technology h3 {
    font-size: 18px;
  }
}
